<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MTS Tests">
    <test name="All Tests">
        <classes>
            <class name="BlockTitleTest"/>
            <class name="PaymentLogosTest"/>
            <class name="DetailsLinkTest"/>
            <class name="PaymentFormTest"/>
        </classes>
    </test>
</suite>